@import "../../Main/varibles.scss";

nav {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: $white;
  padding: 1rem 1.5rem;
  left: 0;
  bottom: 0;

  ul {
    display: flex;
    justify-content: space-between;
    li{
      svg{
        fill: $subtitle;
      }
    }
    li.active{
      svg{
        fill: $title;
      }
    }
  }

}
